Package: com.thanhdo1110.fakeinfo
Name: SystemConfig
Version: 0.0.2
Architecture: iphoneos-arm
Description: System configuration module
Maintainer: thanhdo1110
Author: thanhdo1110
Section: Tweaks
Depends: mobilesubstrate
